@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap");
*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  scroll-behavior: smooth;
}

body {
  --accent-color: #0268D1;
  --secondary-color: #FDB956;
  --text-color: 17, 17, 17;
  --text-color-light: 100, 100, 100;
  --foreground-color: 255, 255, 255;
  --background-color: #efefef;
  --dark-shade: #dadada;
  --error-color: red;
  font-size: 16px;
  color: rgba(var(--text-color), 1);
  background: rgba(var(--foreground-color), 1);
}

body[data-theme='dark'] {
  --text-color: 218, 218, 218;
  --text-color-light: 170, 170, 170;
  --foreground-color: 20, 20, 20;
  -color: #111;
  --dark-shade: #1a1a1a;
}

p {
  line-height: 1.6;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 0.8rem;
}

h1, h2, h3, h4, h5 {
  color: rgba(var(--text-color), 1);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-2 {
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 1em;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.hide-completely {
  display: none !important;
}

.no-transformations {
  -webkit-transform: none !important;
          transform: none !important;
}

.breakable {
  overflow-wrap: break-word;
}

.light-text {
  color: rgba(var(--text-color-light), 1);
}

.accent-color {
  color: var(--accent-color);
}

.secondary-color {
  color: var(--secondary-color);
}

a:-webkit-any-link {
  text-decoration: none;
  color: var(--accent-color);
  text-transform: capitalize;
  font-weight: 500;
}

a:-moz-any-link {
  text-decoration: none;
  color: var(--accent-color);
  text-transform: capitalize;
  font-weight: 500;
}

a:any-link {
  text-decoration: none;
  color: var(--accent-color);
  text-transform: capitalize;
  font-weight: 500;
}

.solid-background {
  background: var(--background-color) !important;
}

.normal-weight {
  font-weight: normal;
}

.icon {
  fill: none;
  stroke-width: 6;
  stroke: rgba(var(--text-color), 1);
  height: 1.2rem;
  width: 1.2rem;
  overflow: visible;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.page {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

sm-button {
  --font-family: 'Poppins', sans-serif;
  margin: 1rem 0;
}

sm-button .icon {
  margin-right: 0.4rem;
}

sm-button[variant="primary"] .icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 0.8rem;
  width: 0.8rem;
  margin-left: 0.8rem;
  stroke-width: 10;
  stroke: rgba(var(--foreground-color), 1);
}

sm-input {
  margin: 1rem 0;
}

.icon {
  fill: none;
  height: 1rem;
  width: 1rem;
  stroke: rgba(var(--text-color), 0.7);
  stroke-width: 6;
  overflow: visible;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon.primary {
  stroke: var(--accent-color);
}

#confirmation {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

#confirmation p {
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(var(--rgb-bw), 1) !important;
}

#confirmation div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 100%;
}

#confirmation div button {
  background: none;
}

#confirmation div button:first-of-type {
  margin-right: 0.6em;
}

.logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.logo-section .main-logo {
  height: 1.4rem;
  margin-right: 0.4rem;
}

#sign_in {
  display: -ms-grid;
  display: grid;
  border-radius: 0.6rem;
  width: 100%;
  padding: 0 1.5rem;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#sign_in .logo-section {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sign_in sm-popup::part(heading) {
  font-size: 2rem;
  font-weight: 600;
}

#sign_in .left {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1.5rem;
}

#sign_in .left h2 {
  font-weight: 400;
}

#sign_in .left h4 {
  color: rgba(var(--foreground-color), 1);
}

#sign_in .left .title-font {
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
}

#sign_in .left sm-button {
  margin-top: 3rem;
  width: auto;
}

#sign_in .left sm-button:last-of-type {
  margin-left: auto;
}

#sign_in .left sm-button:first-of-type:hover .icon {
  -webkit-transform: translateX(0.4rem);
          transform: translateX(0.4rem);
}

#sign_in .left h3 {
  margin-bottom: 1rem;
  font-weight: 500;
}

#sign_in .left p {
  font-weight: 500;
}

#sign_in_page {
  overflow: hidden;
}

#sign_in_illustration {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#sign_in_illustration svg {
  height: 12rem;
  width: 12rem;
  stroke-linecap: round;
  stroke-linejoin: round;
  overflow: visible;
  z-index: 1;
}

#sign_in_illustration .circle {
  position: absolute;
  border-radius: 50%;
}

#sign_in_illustration .circle:nth-of-type(1) {
  right: -10vh;
  background: var(--secondary-color);
  width: 20vh;
  height: 20vh;
  z-index: -1;
}

#sign_in_illustration .circle:nth-of-type(2) {
  right: 20vh;
  bottom: -40vh;
  background: var(--accent-color);
  width: 60vh;
  height: 60vh;
  z-index: -2;
}

#sign_in_box {
  width: 100%;
}

#sign_in_box sm-button, #sign_in_box sm-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
}

#sign_in_box h2 {
  margin-bottom: 2rem;
}

#sign_in_box p {
  margin-bottom: 1rem;
}

.contact-list {
  -ms-grid-rows: max-content 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr;
}

.contact-list header {
  background: rgba(var(--foreground-color), 1);
  padding: 1rem 1.5rem 0 1.5rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 1rem;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
      grid-template-areas: '. .' 'search search';
}

.contact-list header sm-input {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: search;
  margin: 0.5 0 0 0;
}

.contact-list .contact-container .contact {
  display: -ms-grid;
  display: grid;
  gap: 0 1rem;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
      grid-template-areas: 'dp .' 'dp .';
  padding: 0.8rem 0.5rem;
  cursor: pointer;
}

.contact-list .contact-container .dp {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: dp;
}

.contact-list .contact-container .name {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

.contact-list .contact-container .address {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  color: rgba(var(--text-color), 0.8);
}

#main_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#main_page {
  -ms-grid-rows: max-content minmax(0, 1fr);
      grid-template-rows: -webkit-max-content minmax(0, 1fr);
      grid-template-rows: max-content minmax(0, 1fr);
}

#main_header {
  padding: 1.5rem 2rem;
}

#main_header sm-tab-header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 1.5rem;
  border-left: solid 1px rgba(var(--text-color), 0.2);
}

#main_header sm-tab-header::part(tab-header) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

#main_header sm-tab {
  font-size: 1.1rem;
  font-weight: 600;
  --font-family: 'Poppins', sans-serif;
}

#main_header .logo-section {
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
      grid-template-areas: 'logo .' 'logo .';
}

#main_header .logo-section svg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: logo;
}

#main_header .logo-section h4 {
  line-height: 1;
  font-size: 1.2rem;
}

#main_header .logo-section h5 {
  font-weight: 500;
}

@media screen and (max-width: 640px) {
  #sign_in {
    -ms-grid-rows: 16rem 2fr;
        grid-template-rows: 16rem 2fr;
        grid-template-areas: 'illustration' '.';
    height: 100%;
  }
  #sign_in_illustration {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: illustration;
  }
}

@media only screen and (min-width: 640px) {
  ::-webkit-scrollbar {
    width: 0.5rem;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(var(--text-color), 0.3);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--text-color), 0.6);
  }
  #confirmation {
    padding: 1rem;
    width: 24rem;
  }
  #confirmation button {
    margin-left: 0.5rem;
  }
  #confirmation button:first-of-type {
    margin-left: auto;
  }
  #confirmation p {
    margin: 1rem;
    margin-bottom: 2rem;
  }
  .logo-section {
    padding: 2rem 3rem;
  }
  #sign_in {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4vw;
    -ms-grid-columns: 1.5fr 1fr;
        grid-template-columns: 1.5fr 1fr;
    padding: 0 4vw;
  }
  #sign_in .left sm-button:last-of-type {
    margin-left: 0.5rem;
  }
  #sign_in .left h4 {
    color: var(--accent-color);
  }
  #sign_in .circle:nth-of-type(1) {
    right: -40vh;
    width: 80vh;
    height: 80vh;
  }
  #sign_in .circle:nth-of-type(2) {
    right: -70vh;
    width: 140vh;
    height: 140vh;
  }
  #sign_in_box .icon {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
  }
  #message_page, #email_page, #setting_page {
    width: 100%;
    margin: 0 2rem;
    height: 100%;
  }
  #message_page {
    -ms-grid-columns: 22rem 1fr;
        grid-template-columns: 22rem 1fr;
  }
  #message_page #message_page_contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }
  #message_page #message_page_contacts .contact-container {
    height: 100%;
    overflow-y: auto;
  }
  #message_page #chat {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: hidden;
    -ms-grid-rows: max-content 1fr max-content;
        grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
        grid-template-rows: max-content 1fr max-content;
  }
  #message_page #chat header, #message_page #chat #chat_container, #message_page #chat #message_input_container {
    padding: 1rem 1.5rem;
  }
  #message_page #chat #chat_container {
    overflow-y: auto;
    height: 100%;
  }
  #message_page #chat #message_input_container sm-input {
    margin: 0;
  }
  #email_page header {
    padding: 0.5rem 1.5rem;
  }
  #email_page sm-input {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    margin: 0 1.5rem;
  }
  #email_page sm-input::part(input) {
    font-size: 1.2rem;
    --font-family: 'Poppins', sans-serif;
  }
  #email_page sm-tab-header {
    margin-left: auto;
    --accent-color: rgba(var(--text-color), 0.6);
  }
  #email_page sm-tab {
    font-family: 'Poppins', sans-serif;
  }
  #setting_page header {
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  #sign_in {
    gap: 4vw;
    padding: 0 12vw;
  }
  #sign_in .title-font {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 2048px) {
  body {
    font-size: 20px;
  }
}

@media (hover: hover) {
  .contact:hover {
    background: rgba(var(--text-color), 0.1);
  }
}
/*# sourceMappingURL=main.css.map */